.pesquisar{
    position: absolute;
    top: 38px;
    right: 0px;
}
.pesquisar .busca{
    background: #19CFF8;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    top: -19px;
    cursor: pointer;
}
.pesquisar .fechar{
    z-index: 2;
    position: absolute;
    top: 11px;
    right: 18px;
    display: none;
    width: 11px;
    cursor: pointer;
}
.pesquisar .pesquisa{
    width: 0;
    border-radius: 50px;
    border: 0;
    right: 12px;
    position: relative;
    animation: example;
    transition: 0.5s;
    outline: none;
}
.pesquisar .pesquisa::placeholder{
    font-size: 13px;
    text-indent:30px;
}
.page_resultado{
   padding: 15px ;
}
.page_resultado h2{
    font-size: 20px;
    color:#373435;
    margin: 10px 0 5px 0;
    font-weight: 700;
}
.page_resultado span{
    color:#909090 ;
    font-size: 15px;
}
.page_resultado .post{
    padding: 20px 0;
    border-bottom:  1px solid #D9D9D9;
}
.page_resultado .post:nth-last-of-type(1){
    border-bottom: none;
}
.page_resultado .post img{
    width: 208px;
    height: 203px;
}
.page_resultado .post .info-post{
    width: 100%;
}
.page_resultado .post .info-post .categoria{
    font-weight: 600;
    font-size: 15px;
    color: #0D66BD;
    margin: 10px 0;
    text-transform: uppercase;
}
.page_resultado .post .info-post h3{
font-style: normal;
font-weight: 700;
font-size: 20px;
color:#373435;
}
.page_resultado .post .info-post .description{
    font-weight: normal;
    font-size: 18px;
    color: #909090;
    margin: 10px 0;
}
.page_resultado .post .info-post .data{
    font-weight: normal;
font-size: 15px;
color: #909090;
}
@media(min-width:64em){
    .pesquisar{
        left: 70%;
    }
    .page_post h2{
        font-size: 36px;
        font-weight: 600;
    }
    .pesquisar .busca{
        right: -221px;
        width: unset;
        height: unset;
        top: -7px;
    }
    .pesquisar .desktop-form{
        width: 100%;
        position: relative;
    }
    .pesquisar .fechar {
        right: 24px;
        top: 6px;
        width: 15px;
    }
    .pesquisar .pesquisa::placeholder{
        font-size: 14px;
        text-indent:45px;
    }
     .post{
        display: flex;
    }
    .post .info-post{
        margin: 10px;
    }
}
